In [34]:
%matplotlib notebook

In [35]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [36]:
# Load in csv
suicide_df = pd.read_csv("who_suicide_statistics.csv")
suicide_df.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [37]:
clean_df = suicide_df.loc[suicide_df['country'] == "United States of America"]
clean_df

,country,year,sex,age,suicides_no,population
41916,United States of America,1979,female,15-24 years,1001.0,21039000.0
41917,United States of America,1979,female,25-34 years,1352.0,18176000.0
41918,United States of America,1979,female,35-54 years,2458.0,24669000.0
41919,United States of America,1979,female,5-14 years,48.0,17317000.0
41920,United States of America,1979,female,55-74 years,1705.0,20097000.0
41921,United States of America,1979,female,75+ years,384.0,6290000.0
41922,United States of America,1979,male,15-24 years,4245.0,21405000.0
41923,United States of America,1979,male,25-34 years,4505.0,17862000.0
41924,United States of America,1979,male,35-54 years,5207.0,23380000.0
41925,United States of America,1979,male,5-14 years,104.0,18075000.0
41926,United States of America,1979,male,55-74 years,4593.0,16689000.0
41927,United States of America,1979,male,75+ years,1587.0,3505000.0
41928,United States of America,1980,female,15-24 years,903.0,21048000.0
41929,United States of America,1980,female,25-34 years,1322.0,18856000.0
41930,United States of America,1980,female,35-54 years,2214.0,24903000.0
41931,United States of America,1980,female,5-14 years,26.0,17029000.0
41932,United States of America,1980,female,55-74 years,1548.0,20445000.0
41933,United States of America,1980,female,75+ years,350.0,6483000.0
41934,United States of America,1980,male,15-24 years,4336.0,21433000.0
41935,United States of America,1980,male,25-34 years,4598.0,18563000.0
41936,United States of America,1980,male,35-54 years,5344.0,23647000.0
41937,United States of America,1980,male,5-14 years,116.0,17798000.0
41938,United States of America,1980,male,55-74 years,4538.0,16962000.0
41939,United States of America,1980,male,75+ years,1557.0,3578000.0
41940,United States of America,1981,female,15-24 years,960.0,20839000.0
41941,United States of America,1981,female,25-34 years,1437.0,19537000.0
41942,United States of America,1981,female,35-54 years,2374.0,25106000.0
41943,United States of America,1981,female,5-14 years,48.0,16765000.0
41944,United States of America,1981,female,55-74 years,1640.0,20689000.0
41945,United States of America,1981,female,75+ years,324.0,6692000.0
...,...,...,...,...,...,...
42342,United States of America,2014,male,15-24 years,4089.0,22700273.0
42343,United States of America,2014,male,25-34 years,5222.0,21760455.0
42344,United States of America,2014,male,35-54 years,11455.0,41858354.0
42345,United States of America,2014,male,5-14 years,277.0,21264881.0
42346,United States of America,2014,male,55-74 years,8961.0,31339875.0
42347,United States of America,2014,male,75+ years,3106.0,7994948.0
42348,United States of America,2015,female,15-24 years,1132.0,21633813.0
42349,United States of America,2015,female,25-34 years,1444.0,21555712.0
42350,United States of America,2015,female,35-54 years,4053.0,41531809.0
42351,United States of America,2015,female,5-14 years,158.0,20342901.0
42352,United States of America,2015,female,55-74 years,2872.0,35115610.0
42353,United States of America,2015,female,75+ years,540.0,11778666.0
42354,United States of America,2015,male,15-24 years,4359.0,22615073.0
42355,United States of America,2015,male,25-34 years,5503.0,22137097.0
42356,United States of America,2015,male,35-54 years,11634.0,41658010.0
42357,United States of America,2015,male,5-14 years,255.0,21273987.0
42358,United States of America,2015,male,55-74 years,9068.0,32264697.0
42359,United States of America,2015,male,75+ years,3171.0,8171136.0
42360,United States of America,2016,female,15-24 years,NaN,21601501.0
42361,United States of America,2016,female,25-34 years,NaN,21857682.0
42362,United States of America,2016,female,35-54 years,NaN,41367410.0
42363,United States of America,2016,female,5-14 years,NaN,20385205.0
42364,United States of America,2016,female,55-74 years,NaN,35952743.0
42365,United States of America,2016,female,75+ years,NaN,12007604.0
42366,United States of America,2016,male,15-24 years,NaN,22549343.0
42367,United States of America,2016,male,25-34 years,NaN,22511217.0
42368,United States of America,2016,male,35-54 years,NaN,41481607.0
42369,United States of America,2016,male,5-14 years,NaN,21313304.0
42370,United States of America,2016,male,55-74 years,NaN,33121620.0
42371,United States of America,2016,male,75+ years,NaN,8423833.0

In [38]:
clean_df.dtypes

country         object
year             int64
sex             object
age             object
suicides_no    float64
population     float64
dtype: object

In [39]:
age_df = clean_df.loc[clean_df['age'] == "25-34 years"]
age_df

,country,year,sex,age,suicides_no,population
41917,United States of America,1979,female,25-34 years,1352.0,18176000.0
41923,United States of America,1979,male,25-34 years,4505.0,17862000.0
41929,United States of America,1980,female,25-34 years,1322.0,18856000.0
41935,United States of America,1980,male,25-34 years,4598.0,18563000.0
41941,United States of America,1981,female,25-34 years,1437.0,19537000.0
41947,United States of America,1981,male,25-34 years,4906.0,19273000.0
41953,United States of America,1982,female,25-34 years,1377.0,19771000.0
41959,United States of America,1982,male,25-34 years,4939.0,19532000.0
41965,United States of America,1983,female,25-34 years,1321.0,19979000.0
41971,United States of America,1983,male,25-34 years,5017.0,19739000.0
41977,United States of America,1984,female,25-34 years,1267.0,20663000.0
41983,United States of America,1984,male,25-34 years,5125.0,20567000.0
41989,United States of America,1985,female,25-34 years,1242.0,21041000.0
41995,United States of America,1985,male,25-34 years,5134.0,20986000.0
42001,United States of America,1986,female,25-34 years,1261.0,21391000.0
42007,United States of America,1986,male,25-34 years,5450.0,21393000.0
42013,United States of America,1987,female,25-34 years,1285.0,21645000.0
42019,United States of America,1987,male,25-34 years,5370.0,21670000.0
42025,United States of America,1988,female,25-34 years,1247.0,21822000.0
42031,United States of America,1988,male,25-34 years,5463.0,21853000.0
42037,United States of America,1989,female,25-34 years,1226.0,21892000.0
42043,United States of America,1989,male,25-34 years,5339.0,21943000.0
42049,United States of America,1990,female,25-34 years,1211.0,21596400.0
42055,United States of America,1990,male,25-34 years,5339.0,21564300.0
42061,United States of America,1991,female,25-34 years,1153.0,21450000.0
42067,United States of America,1991,male,25-34 years,5361.0,21427000.0
42073,United States of America,1992,female,25-34 years,1070.0,21212300.0
42079,United States of America,1992,male,25-34 years,5102.0,21232500.0
42085,United States of America,1993,female,25-34 years,1089.0,20933400.0
42091,United States of America,1993,male,25-34 years,5218.0,20942000.0
...,...,...,...,...,...,...
42193,United States of America,2002,female,25-34 years,911.0,19725528.0
42199,United States of America,2002,male,25-34 years,4135.0,20202776.0
42205,United States of America,2003,female,25-34 years,909.0,19650112.0
42211,United States of America,2003,male,25-34 years,4156.0,20222486.0
42217,United States of America,2004,female,25-34 years,932.0,19695906.0
42223,United States of America,2004,male,25-34 years,4142.0,20336031.0
42229,United States of America,2005,female,25-34 years,924.0,19721652.0
42235,United States of America,2005,male,25-34 years,4066.0,20421260.0
42241,United States of America,2006,female,25-34 years,932.0,19851326.0
42247,United States of America,2006,male,25-34 years,4053.0,20564653.0
42253,United States of America,2007,female,25-34 years,997.0,19839678.0
42259,United States of America,2007,male,25-34 years,4281.0,20531378.0
42265,United States of America,2008,female,25-34 years,1027.0,19812423.0
42271,United States of America,2008,male,25-34 years,4273.0,20007152.0
42277,United States of America,2009,female,25-34 years,1027.0,19992900.0
42283,United States of America,2009,male,25-34 years,4293.0,20205941.0
42289,United States of America,2010,female,25-34 years,1092.0,20180858.0
42295,United States of America,2010,male,25-34 years,4645.0,20409866.0
42301,United States of America,2011,female,25-34 years,1238.0,20408037.0
42307,United States of America,2011,male,25-34 years,4862.0,20698307.0
42313,United States of America,2012,female,25-34 years,1231.0,20667924.0
42319,United States of America,2012,male,25-34 years,4985.0,21028158.0
42325,United States of America,2013,female,25-34 years,1285.0,20951958.0
42331,United States of America,2013,male,25-34 years,5063.0,21386891.0
42337,United States of America,2014,female,25-34 years,1347.0,21250636.0
42343,United States of America,2014,male,25-34 years,5222.0,21760455.0
42349,United States of America,2015,female,25-34 years,1444.0,21555712.0
42355,United States of America,2015,male,25-34 years,5503.0,22137097.0
42361,United States of America,2016,female,25-34 years,NaN,21857682.0
42367,United States of America,2016,male,25-34 years,NaN,22511217.0

In [40]:
age_df.drop(age_df.columns[[3]], axis=1, inplace=True)
age_df

/Users/mary/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

                        country  year     sex  suicides_no  population
41917  United States of America  1979  female       1352.0  18176000.0
41923  United States of America  1979    male       4505.0  17862000.0
41929  United States of America  1980  female       1322.0  18856000.0
41935  United States of America  1980    male       4598.0  18563000.0
41941  United States of America  1981  female       1437.0  19537000.0
41947  United States of America  1981    male       4906.0  19273000.0
41953  United States of America  1982  female       1377.0  19771000.0
41959  United States of America  1982    male       4939.0  19532000.0
41965  United States of America  1983  female       1321.0  19979000.0
41971  United States of America  1983    male       5017.0  19739000.0
41977  United States of America  1984  female       1267.0  20663000.0
41983  United States of America  1984    male       5125.0  20567000.0
41989  United States of America  1985  female       1242.0  21041000.0
41995  United States of America  1985    male       5134.0  20986000.0
42001  United States of America  1986  female       1261.0  21391000.0
42007  United States of America  1986    male       5450.0  21393000.0
42013  United States of America  1987  female       1285.0  21645000.0
42019  United States of America  1987    male       5370.0  21670000.0
42025  United States of America  1988  female       1247.0  21822000.0
42031  United States of America  1988    male       5463.0  21853000.0
42037  United States of America  1989  female       1226.0  21892000.0
42043  United States of America  1989    male       5339.0  21943000.0
42049  United States of America  1990  female       1211.0  21596400.0
42055  United States of America  1990    male       5339.0  21564300.0
42061  United States of America  1991  female       1153.0  21450000.0
42067  United States of America  1991    male       5361.0  21427000.0
42073  United States of America  1992  female       1070.0  21212300.0
42079  United States of America  1992    male       5102.0  21232500.0
42085  United States of America  1993  female       1089.0  20933400.0
42091  United States of America  1993    male       5218.0  20942000.0
...                         ...   ...     ...          ...         ...
42193  United States of America  2002  female        911.0  19725528.0
42199  United States of America  2002    male       4135.0  20202776.0
42205  United States of America  2003  female        909.0  19650112.0
42211  United States of America  2003    male       4156.0  20222486.0
42217  United States of America  2004  female        932.0  19695906.0
42223  United States of America  2004    male       4142.0  20336031.0
42229  United States of America  2005  female        924.0  19721652.0
42235  United States of America  2005    male       4066.0  20421260.0
42241  United States of America  2006  female        932.0  19851326.0
42247  United States of America  2006    male       4053.0  20564653.0
42253  United States of America  2007  female        997.0  19839678.0
42259  United States of America  2007    male       4281.0  20531378.0
42265  United States of America  2008  female       1027.0  19812423.0
42271  United States of America  2008    male       4273.0  20007152.0
42277  United States of America  2009  female       1027.0  19992900.0
42283  United States of America  2009    male       4293.0  20205941.0
42289  United States of America  2010  female       1092.0  20180858.0
42295  United States of America  2010    male       4645.0  20409866.0
42301  United States of America  2011  female       1238.0  20408037.0
42307  United States of America  2011    male       4862.0  20698307.0
42313  United States of America  2012  female       1231.0  20667924.0
42319  United States of America  2012    male       4985.0  21028158.0
42325  United States of America  2013  female       1285.0  20951958.0
42331  United States of America  2013    male       5063.0  21386891.0
42337  United States of America  2014  female       1347.0  21250636.0
42343  United States of America  2014    male       5222.0  21760455.0
42349  United States of America  2015  female       1444.0  21555712.0
42355  United States of America  2015    male       5503.0  22137097.0
42361  United States of America  2016  female          NaN  21857682.0
42367  United States of America  2016    male          NaN  22511217.0

[76 rows x 5 columns]

In [41]:
#sort the data and save it as a new file
age_df.sort_values(by='suicides_no').set_index('suicides_no').reset_index().to_csv('who_suicide_statistics_clean.csv', index=False)